<h1>Detalle de Androide </h1>
<hr>
<div class="row">
    <div class="col-md-4" style="text-align: center">
        <img [src]="androide.avatar" class="img-fluid" [alt]="androide.nombre"> <br><br>
        <a [routerLink]="['/androides']" class="btn btn-outline-danger btn-block">Regresar</a> </div>
    <div class="col-md-8">
        <h3 style="color: crimson">{{androide.nombre}}</h3>
        <h3 style="color: blue;"> {{androide.apellido | uppercase}}</h3>
        <hr>
        <p><b>Fabricacion:</b> {{androide.fechaFabricacion}}</p>
        <div> <img *ngIf="androide.amigo" src="assets/img/amistad.png" alt="Amistad"> </div>
    </div>
</div>